.env
.env.local
*.zip
*.wgt
client_secret*.json
token.json
package-lock.json
convert-dictionary.sh
.DS_Store
dist/
client/dist/
node_modules/
server/node_modules/
client/node_modules/


# build:tv output inside deploy/ (config.xml, .tproject, icon.png are tracked)
/deploy/index.html
/deploy/assets/
/deploy/images/
*.sign
