<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://rickboles.example/nexus"
        version="1.0.0"
        viewmodes="maximized">
    <tizen:application id="uYj8h9Nexus.Nexus" package="uYj8h9Nexus" required_version="6.0" />
    <content src="index.html" />
    <icon src="icon.png" />
    <name>Nexus</name>
    <feature name="http://tizen.org/feature/screen.size.all" />
    <feature name="http://tizen.org/feature/tv.inputdevice" />
    <tizen:privilege name="http://tizen.org/privilege/internet" />
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice" />
    <access origin="*" subdomains="true" />
    <tizen:profile name="tv-samsung" />
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable" />
</widget>
